# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TB42_LEFT

config ZMK_KEYBOARD_NAME
    default "Tom's board 3x6"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TB42_LEFT || SHIELD_TB42_RIGHT

config ZMK_SPLIT
    default y

endif
