# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TKBD_LEFT

config ZMK_KEYBOARD_NAME
    default "Tom's board"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TKBD_LEFT || SHIELD_TKBD_RIGHT

config ZMK_SPLIT
    default y

endif
